PORT=3000
NODE_ENV=development
N8N_WEBHOOK_URL=https://mooni2.app.n8n.cloud/webhook/mooni/solicitud-viaje
GOOGLE_MAPS_API_KEY=AIza_tu_api_key_aqui
AIRTABLE_PAT=pat_tu_token_personal_aqui
AIRTABLE_BASE_ID=app_tu_base_id_aqui
